.map {
	h2 {
		margin-top: 5.2rem;
		margin-bottom: 1rem;
		color: #ff9505;
		font-weight: 600;
		font-size: 3.2rem;
	}
	iframe {
		margin-top: 3rem;
		border-radius: 0.8rem;
	}
	p {
		color: rgba(255, 255, 255, 0.5);
	}
}
